In [1]:

import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'C:\\Users\\Dell'

In [3]:
df =pd.read_csv("fishdata.csv",error_bad_lines=False,index_col=False)
df

C:\Users\Dell\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,month,day,hour,minute,second,Carbon monoxide,Internal Temparature,External Temparature,humidity,light intensity,pH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.00,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.00,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.00,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.00,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.00,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.00,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.00,25.94,4.19
811943,2020.0,10.0,19,8,24.0,13.0,-168,25.0,95.0,25.94,4.18,NaN
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.00,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.00,25.94,4.17

In [5]:
df.head(100)

,year,month,day,hour,minute,second,Carbon monoxide,Internal Temparature,External Temparature,humidity,light intensity,pH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.0,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.0,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.0,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.0,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.0,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020.0,6.0,18,14,41.0,8.0,200,28.0,29.0,95.0,27.25,4.39
96,2020.0,6.0,18,14,41.0,13.0,200,27.0,29.0,95.0,27.25,4.42
97,2020.0,6.0,18,14,41.0,18.0,200,28.0,29.0,95.0,27.25,4.40
98,2020.0,6.0,18,14,41.0,28.0,200,27.0,29.0,95.0,27.25,4.39
99,2020.0,6.0,18,14,41.0,33.0,200,27.0,29.0,95.0,27.25,4.39

In [7]:
df.tail()

,year,month,day,hour,minute,second,Carbon monoxide,Internal Temparature,External Temparature,humidity,light intensity,pH
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.00,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.00,25.94,4.19
811943,2020.0,10.0,19,8,24.0,13.0,-168,25.0,95.0,25.94,4.18,NaN
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.00,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.00,25.94,4.17

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811946 entries, 0 to 811945
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  811946 non-null  float64
 1   month                 811946 non-null  float64
 2   day                   811946 non-null  int64
 3   hour                  811946 non-null  int64
 4   minute                811946 non-null  float64
 5   second                811946 non-null  float64
 6   Carbon monoxide       810198 non-null  object
 7   Internal Temparature  811872 non-null  float64
 8   External Temparature  811851 non-null  float64
 9   humidity              811843 non-null  float64
 10  light intensity       811843 non-null  float64
 11  pH                    807408 non-null  float64
dtypes: float64(9), int64(2), object(1)
memory usage: 74.3+ MB

In [9]:
df.shape

(811946, 12)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df.shape

(811946, 12)

In [12]:
df

,year,month,day,hour,minute,second,Carbon monoxide,Internal Temparature,External Temparature,humidity,light intensity,pH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.00,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.00,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.00,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.00,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.00,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.00,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.00,25.94,4.19
811943,2020.0,10.0,19,8,24.0,13.0,-168,25.0,95.0,25.94,4.18,NaN
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.00,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.00,25.94,4.17

In [13]:
df.columns

Index(['year', 'month', 'day', 'hour', 'minute', 'second', 'Carbon monoxide',
       'Internal Temparature', 'External Temparature', 'humidity',
       'light intensity', 'pH'],
      dtype='object')

In [14]:
df.columns=[col.upper() for col in df]
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'CARBON MONOXIDE',
       'INTERNAL TEMPARATURE', 'EXTERNAL TEMPARATURE', 'HUMIDITY',
       'LIGHT INTENSITY', 'PH'],
      dtype='object')

In [15]:
df.rename(columns={
    'CARBON MONOXIDE':'CARBON_MONOXIDE',
    'INTERNAL TEMPARATURE': 'INTERNAL_TEMP',
    'EXTERNAL TEMPARATURE': 'EXTERNAL_TEMP'
} ,inplace= True)

df.columns

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'CARBON_MONOXIDE',
       'INTERNAL_TEMP', 'EXTERNAL_TEMP', 'HUMIDITY', 'LIGHT INTENSITY', 'PH'],
      dtype='object')

In [16]:
df.isnull()

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
811941,False,False,False,False,False,False,False,False,False,False,False,False
811942,False,False,False,False,False,False,False,False,False,False,False,False
811943,False,False,False,False,False,False,False,False,False,False,False,True
811944,False,False,False,False,False,False,False,False,False,False,False,False
811945,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

YEAR                  0
MONTH                 0
DAY                   0
HOUR                  0
MINUTE                0
SECOND                0
CARBON_MONOXIDE    1748
INTERNAL_TEMP        74
EXTERNAL_TEMP        95
HUMIDITY            103
LIGHT INTENSITY     103
PH                 4538
dtype: int64

In [18]:
df.dropna()

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.0,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.0,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.0,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.0,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.0,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
811940,2020.0,10.0,19,8,24.0,0.0,201,-165.0,25.0,95.0,25.94,4.18
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.0,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.0,25.94,4.19
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.0,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.0,25.94,4.17

In [21]:
df.dropna(axis=0)

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.0,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.0,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.0,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.0,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.0,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
811940,2020.0,10.0,19,8,24.0,0.0,201,-165.0,25.0,95.0,25.94,4.18
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.0,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.0,25.94,4.19
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.0,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.0,25.94,4.17

In [33]:
inte=df['INTERNAL_TEMP']
inte

0          25.0
1          25.0
2          25.0
3          25.0
4          25.0
          ...
811941   -165.0
811942   -167.0
811943     25.0
811944   -169.0
811945   -169.0
Name: INTERNAL_TEMP, Length: 811946, dtype: float64

In [34]:
inte_mean= inte.mean()
inte_mean

-65.00106184226085

In [35]:
ext=df['EXTERNAL_TEMP']
ext

0         29.0
1         29.0
2         29.0
3         29.0
4         29.0
          ...
811941    25.0
811942    25.0
811943    95.0
811944    25.0
811945    25.0
Name: EXTERNAL_TEMP, Length: 811946, dtype: float64

In [36]:
ext_mean= ext.mean()
ext_mean

30.82704919991476

In [32]:
ext.head(20)

0     29.0
1     29.0
2     29.0
3     29.0
4     29.0
5     29.0
6     29.0
7     29.0
8     29.0
9     29.0
10    29.0
11    29.0
12    29.0
13    29.0
14    29.0
15    29.0
16    29.0
17    29.0
18    29.0
19    29.0
Name: EXTERNAL_TEMP, dtype: float64

In [40]:
inte.fillna(inte_mean,inplace=True)

In [41]:
ext.fillna(ext_mean,inplace=True)

In [42]:
df.isnull().sum()

YEAR                  0
MONTH                 0
DAY                   0
HOUR                  0
MINUTE                0
SECOND                0
CARBON_MONOXIDE    1748
INTERNAL_TEMP         0
EXTERNAL_TEMP         0
HUMIDITY            103
LIGHT INTENSITY     103
PH                 4538
dtype: int64

In [43]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,2020.0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.00,27.19,4.39
1,2020.0,6.0,18,14,30.0,48.0,201,25.0,29.0,95.00,27.19,4.38
2,2020.0,6.0,18,14,31.0,3.0,201,25.0,29.0,95.00,27.19,4.38
3,2020.0,6.0,18,14,31.0,8.0,201,25.0,29.0,95.00,27.19,4.41
4,2020.0,6.0,18,14,31.0,13.0,201,25.0,29.0,95.00,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...,...
811941,2020.0,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.00,25.94,4.17
811942,2020.0,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.00,25.94,4.19
811943,2020.0,10.0,19,8,24.0,13.0,-168,25.0,95.0,25.94,4.18,NaN
811944,2020.0,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.00,25.94,4.17
811945,2020.0,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.00,25.94,4.17

In [44]:
df.drop(['YEAR'], inplace=True,axis=1)

In [45]:
df.columns

Index(['MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'CARBON_MONOXIDE',
       'INTERNAL_TEMP', 'EXTERNAL_TEMP', 'HUMIDITY', 'LIGHT INTENSITY', 'PH'],
      dtype='object')

In [46]:
df.loc[100]

MONTH                  6
DAY                   18
HOUR                  14
MINUTE                41
SECOND                38
CARBON_MONOXIDE      200
INTERNAL_TEMP         27
EXTERNAL_TEMP         29
HUMIDITY              95
LIGHT INTENSITY    27.25
PH                  4.43
Name: 100, dtype: object

In [47]:
df.loc[2000]

MONTH                  6
DAY                   18
HOUR                  18
MINUTE                 7
SECOND                31
CARBON_MONOXIDE      220
INTERNAL_TEMP        -14
EXTERNAL_TEMP         29
HUMIDITY              95
LIGHT INTENSITY    27.25
PH                  4.17
Name: 2000, dtype: object

In [48]:
df.describe()

,MONTH,DAY,HOUR,MINUTE,SECOND,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
count,8.119460e+05,811946.000000,811946.000000,811946.000000,811946.000000,811946.000000,811946.000000,811843.000000,811843.000000,807408.000000
mean,2.617098e+00,18.485033,11.785307,29.477050,29.496661,-65.001062,30.827049,94.627387,28.486738,82.744870
std,2.519275e+03,26.612144,6.223211,17.316265,17.320485,66.950774,5.682456,5.387394,2.600313,1640.327088
min,-1.912020e+06,1.000000,0.000000,0.000000,0.000000,-240.000000,-999.000000,-999.000000,2.970000,2.650000
25%,7.000000e+00,13.000000,7.000000,14.000000,14.000000,-140.000000,29.000000,95.000000,27.060000,3.850000
50%,7.000000e+00,21.000000,12.000000,29.000000,29.000000,-50.000000,30.000000,95.000000,28.250000,4.020000
75%,8.000000e+00,26.000000,16.000000,44.000000,45.000000,-19.000000,32.000000,95.000000,30.250000,4.350000
max,2.020000e+03,22020.000000,95.000000,59.000000,59.000000,322.000000,310.000000,95.000000,95.000000,42020.000000

In [51]:
df.corr()

,MONTH,DAY,HOUR,MINUTE,SECOND,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
MONTH,1.000000,0.000748,0.000475,0.002295,0.000412,-0.009536,0.046580,0.022299,-0.047976,0.000070
DAY,0.000748,1.000000,0.001012,-0.001276,-0.001936,0.038285,0.074758,-0.034530,0.011549,0.000236
HOUR,0.000475,0.001012,1.000000,-0.011219,-0.002052,-0.024837,-0.011256,-0.003427,-0.132460,0.001864
MINUTE,0.002295,-0.001276,-0.011219,1.000000,0.000196,0.005199,0.001795,-0.000521,-0.001197,-0.001068
SECOND,0.000412,-0.001936,-0.002052,0.000196,1.000000,-0.000161,-0.001421,0.000177,0.000061,-0.001190
INTERNAL_TEMP,-0.009536,0.038285,-0.024837,0.005199,-0.000161,1.000000,0.213927,-0.098788,0.105450,-0.001735
EXTERNAL_TEMP,0.046580,0.074758,-0.011256,0.001795,-0.001421,0.213927,1.000000,-0.628576,-0.381928,0.004160
HUMIDITY,0.022299,-0.034530,-0.003427,-0.000521,0.000177,-0.098788,-0.628576,1.000000,0.626355,0.000124
LIGHT INTENSITY,-0.047976,0.011549,-0.132460,-0.001197,0.000061,0.105450,-0.381928,0.626355,1.000000,-0.004509
PH,0.000070,0.000236,0.001864,-0.001068,-0.001190,-0.001735,0.004160,0.000124,-0.004509,1.000000

In [52]:
df

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.00,27.19,4.39
1,6.0,18,14,30.0,48.0,201,25.0,29.0,95.00,27.19,4.38
2,6.0,18,14,31.0,3.0,201,25.0,29.0,95.00,27.19,4.38
3,6.0,18,14,31.0,8.0,201,25.0,29.0,95.00,27.19,4.41
4,6.0,18,14,31.0,13.0,201,25.0,29.0,95.00,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...
811941,10.0,19,8,24.0,4.0,201,-165.0,25.0,95.00,25.94,4.17
811942,10.0,19,8,24.0,8.0,201,-167.0,25.0,95.00,25.94,4.19
811943,10.0,19,8,24.0,13.0,-168,25.0,95.0,25.94,4.18,NaN
811944,10.0,19,8,24.0,16.0,201,-169.0,25.0,95.00,25.94,4.17
811945,10.0,19,8,24.0,20.0,201,-169.0,25.0,95.00,25.94,4.17

In [53]:
df_subset = df.iloc[5:20]

df_subset

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
5,6.0,18,14,31.0,23.0,201,25.0,29.0,95.0,27.19,4.38
6,6.0,18,14,31.0,28.0,201,25.0,29.0,95.0,27.19,4.38
7,6.0,18,14,31.0,33.0,201,25.0,29.0,95.0,27.19,4.41
8,6.0,18,14,31.0,43.0,200,26.0,29.0,95.0,27.19,4.39
9,6.0,18,14,31.0,48.0,200,26.0,29.0,95.0,27.19,4.39
10,6.0,18,14,31.0,53.0,200,26.0,29.0,95.0,27.25,4.38
11,6.0,18,14,31.0,58.0,200,27.0,29.0,95.0,27.25,4.39
12,6.0,18,14,32.0,8.0,200,26.0,29.0,95.0,27.25,4.39
13,6.0,18,14,32.0,13.0,200,26.0,29.0,95.0,27.19,4.41
14,6.0,18,14,32.0,18.0,200,26.0,29.0,95.0,27.25,4.39
15,6.0,18,14,32.0,28.0,199,27.0,29.0,95.0,27.25,4.41
16,6.0,18,14,32.0,33.0,199,27.0,29.0,95.0,27.19,4.43
17,6.0,18,14,32.0,38.0,200,27.0,29.0,95.0,27.19,4.42
18,6.0,18,14,32.0,48.0,199,27.0,29.0,95.0,27.19,4.43
19,6.0,18,14,32.0,53.0,199,27.0,29.0,95.0,27.19,4.44

In [55]:
cond = (df['MONTH'] == 11)

cond.head(100)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: MONTH, Length: 100, dtype: bool

In [60]:
df[df['HOUR'] == 14].head(100)

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.0,27.19,4.39
1,6.0,18,14,30.0,48.0,201,25.0,29.0,95.0,27.19,4.38
2,6.0,18,14,31.0,3.0,201,25.0,29.0,95.0,27.19,4.38
3,6.0,18,14,31.0,8.0,201,25.0,29.0,95.0,27.19,4.41
4,6.0,18,14,31.0,13.0,201,25.0,29.0,95.0,27.25,4.41
...,...,...,...,...,...,...,...,...,...,...,...
95,6.0,18,14,41.0,8.0,200,28.0,29.0,95.0,27.25,4.39
96,6.0,18,14,41.0,13.0,200,27.0,29.0,95.0,27.25,4.42
97,6.0,18,14,41.0,18.0,200,28.0,29.0,95.0,27.25,4.40
98,6.0,18,14,41.0,28.0,200,27.0,29.0,95.0,27.25,4.39
99,6.0,18,14,41.0,33.0,200,27.0,29.0,95.0,27.25,4.39

In [62]:

df[df['HUMIDITY'] >= 70].head(10)

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
0,6.0,18,14,30.0,43.0,201,25.0,29.0,95.0,27.19,4.39
1,6.0,18,14,30.0,48.0,201,25.0,29.0,95.0,27.19,4.38
2,6.0,18,14,31.0,3.0,201,25.0,29.0,95.0,27.19,4.38
3,6.0,18,14,31.0,8.0,201,25.0,29.0,95.0,27.19,4.41
4,6.0,18,14,31.0,13.0,201,25.0,29.0,95.0,27.25,4.41
5,6.0,18,14,31.0,23.0,201,25.0,29.0,95.0,27.19,4.38
6,6.0,18,14,31.0,28.0,201,25.0,29.0,95.0,27.19,4.38
7,6.0,18,14,31.0,33.0,201,25.0,29.0,95.0,27.19,4.41
8,6.0,18,14,31.0,43.0,200,26.0,29.0,95.0,27.19,4.39
9,6.0,18,14,31.0,48.0,200,26.0,29.0,95.0,27.19,4.39

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811946 entries, 0 to 811945
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MONTH            811946 non-null  float64
 1   DAY              811946 non-null  int64
 2   HOUR             811946 non-null  int64
 3   MINUTE           811946 non-null  float64
 4   SECOND           811946 non-null  float64
 5   CARBON_MONOXIDE  810198 non-null  object
 6   INTERNAL_TEMP    811946 non-null  float64
 7   EXTERNAL_TEMP    811946 non-null  float64
 8   HUMIDITY         811843 non-null  float64
 9   LIGHT INTENSITY  811843 non-null  float64
 10  PH               807408 non-null  float64
dtypes: float64(8), int64(2), object(1)
memory usage: 114.3+ MB

In [68]:
df[(df['INTERNAL_TEMP'] == 40) | (df['EXTERNAL_TEMP'] == 40)].head()

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
24705,6.0,20,11,8.0,22.0,184,40.0,31.0,95.0,29.06,4.70
24709,6.0,20,11,8.0,47.0,184,40.0,31.0,95.0,29.06,4.70
24711,6.0,20,11,9.0,2.0,185,40.0,31.0,95.0,29.00,4.66
278954,7.0,17,16,4.0,0.0,216,40.0,31.0,95.0,29.31,3.85
278958,7.0,17,16,4.0,20.0,183,40.0,31.0,95.0,29.31,3.90

In [73]:
df[(df['INTERNAL_TEMP'] == 40) | (df['EXTERNAL_TEMP'] == 40) & (df['LIGHT INTENSITY']==40)].tail()

,MONTH,DAY,HOUR,MINUTE,SECOND,CARBON_MONOXIDE,INTERNAL_TEMP,EXTERNAL_TEMP,HUMIDITY,LIGHT INTENSITY,PH
624402,8.0,14,10,8.0,47.0,201,40.0,30.0,95.0,26.81,4.07
624403,8.0,14,10,8.0,51.0,201,40.0,30.0,95.0,26.81,4.07
624404,8.0,14,10,8.0,55.0,201,40.0,30.0,95.0,26.81,4.07
624409,8.0,14,10,9.0,16.0,201,40.0,30.0,95.0,26.81,4.07
624410,8.0,14,10,9.0,20.0,202,40.0,30.0,95.0,26.81,4.06